// 
// 
// user.scss
//
// Place your own custom CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

// h1, h2, h3, h4, h5, h5 {
//   font-family: "Biryani", "Lato",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
// }


.navbar .navbar-brand {
  img, svg {
    width: 110px;
  }
}

.img-list-logo {
  border: 1px solid #EAEDF2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
  height: 80px;
  width: 80px;
  img {
    height: 70px;
    width: auto;
  }
}

.banner_destaque {
  img {
    max-width: 175%;
    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 100%;
    }
  }
}
